<div class = "title">
  <h1>プロフィール編集</h1>
    <div class = "button">
      <%= link_to "戻る", :back, method: :get %>
      <%= link_to "アカウントを削除", registration_path(resource_name), data: { confirm: "本当によろしいですか?" }, method: :delete %>
    </div>
</div>
<hr>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>
<div class = "field">
    <div class = "col">
      <%= f.label :icon %>
      <%= f.file_field :icon, type:"file",  onchange: "previewImage()" %>
      <%= f.hidden_field :icon_cache %>
      <%= image_tag @user.icon.url,  id: 'preview' %>
      <label>
      <%= f.check_box :remove_icon %>
      画像を削除する
    </label>
    </div>
    <div class="col">
      <%= f.label :name %>
      <%= f.text_field :name, autocomplete: "name" %>
      <%= f.label :email %>
      <%= f.email_field :email,  autocomplete: "email" %>
    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>
      <%= f.label :password %> <i>(leave blank if you don't want to change it)</i>
      <%= f.password_field :password, autocomplete: "new-password" %>
      <% if @minimum_password_length %>
        <em><%= @minimum_password_length %> characters minimum</em>
      <% end %>
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
      <%= f.label :current_password %> <i>(必須)</i>
      <%= f.password_field :current_password, autocomplete: "current-password" %>
    </div>
  </div>
  <div class = "title">
    <%= f.submit "更新" %>
  </div>
<% end %>
<%= javascript_pack_tag "user/common.js" %>