<header>
  <div class = "title">
    <h1>Sign up</h1>
  </div>
</header>
<main>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :icon %><br />
      <% if @user.icon? %>
          <%= image_tag @user.icon.url %>
      <% else %>
          <%= image_tag "/assets/default.jpg", :size => '100x100' %>
      <% end %>
          <button type="button" class="btn btn-outline-secondary rounded-pill">
            <%= f.file_field :icon, accept: 'image/jpeg,image/gif,image/png' %>
          </button>
    　　<!--<%= f.submit '更新する', class: 'btn btn-primary' %>-->
  </div>

    <div class="field">
      <%= f.label :name %><br />
      <%= f.text_field :name, autocomplete: "name" %>
    </div>

    <div class="field">
      <%= f.label :email %><br />
      <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    </div>

    <div class="field">
      <%= f.label :password %>
      <% if @minimum_password_length %>
      <em>(<%= @minimum_password_length %> characters minimum)</em>
      <% end %><br />
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="field">
      <%= f.label :password_confirmation %><br />
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="actions">
      <%= f.submit "Sign up" %>
    </div>
  <% end %>
  <%= render "devise/shared/links" %>
</main>