<div class = "title">
  <h1>新規登録</h1>
</div>
<hr>
  <%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
    <%= render "devise/shared/error_messages", resource: resource %>

    <div class="col">
      <%= f.label :name %>
      <%= f.text_field :name, autocomplete: "name" %>
    </div>

    <div class="col">
      <%= f.label :email %>
      <%= f.email_field :email, autocomplete: "email" %>
    </div>

    <div class="col">
    <div>
      <%= f.label :password %>
      <% if @minimum_password_length %>
        <em>(<%= @minimum_password_length %> 文字以上)</em>
        <% end %>
      </div>
      <%= f.password_field :password, autocomplete: "new-password" %>
    </div>

    <div class="col">
      <%= f.label :password_confirmation %>
      <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
    </div>

    <div class="actions">
      <%= f.submit "新規作成" %>
    </div>
  <% end %>
  </form>