<div class = "title">
  <h2>Your Profile</h2>
  <div class = "button">
    <%= link_to  edit_user_registration_path(current_user), method: :get do %><i class = "material-icons">manage_accounts</i>Edit<% end %>
  </div>
</div>
<div class = "col">
  <%= image_tag @user.icon.url %>
  <div>
    <ul>
      <li>name:<%= @user.name %></li>
      <li>e-mail:<%= @user.email %></li>
    </ul>
  </div>
</div>
<div class = "title">
  <h2>Your Projects</h2>
  <div class = "button">
    <%= link_to projects_path, method: :get do %> <i class = "material-icons">search</i>Search <% end %>
    <%= link_to new_project_path , method: :get do %> <i class = "material-icons">control_point</i>New <% end %>
  </div>
</div>
<div class = "rowitem">
  <% @projects.each do |project| %>
    <div>
      <h3><%= link_to project.name, project_path(project.id) %></h3>
      <%= link_to image_tag(project.icon.url), project_path(project.id) %>
    </div>
  <% end %>
</div>