<header>
  <div class="title">
    <h1>Manage#show</h1>
    <p>Find me in app/views/manage/show.html.erb</p>
      <%=  button_to "Home", {controller: "users", action: "show"}, {method: :get} %>
        <nav>
    <strong><%= link_to current_user.name, users_show_path %></strong>
    <%=button_to 'ログアウト', destroy_user_session_path, method: :delete %>
  </nav>
  </div>
</header>
<main>
  <%= form_with model: @project do |form| %>
  <div class="title">
    <div class ="field">
        <%= form.label :projectname %>
        <%= form.text_field :projectname %>
        <%= form.label :projecticon %>
        <%= form_for(@project) do |f| %>
          <% if @project.icon? %>
              <%= image_tag @project.projecticon.url %>
          <% else %>
              <%= image_tag "/assets/default.jpg", :size => '100x100' %>
          <% end %>
              <button type="button" class="btn btn-outline-secondary rounded-pill">
                <%= f.file_field :projecticon, accept: 'image/jpeg,image/gif,image/png' %>
              </button>
        　　<%= f.submit '更新する', class: 'btn btn-primary' %>
        <% end %>
    </div>
    <div class="field">
        <%= form.label :projectnote %>
        <%= form.text_field :projectnote %>
    </div>
  </div>
  <div class="title">
    <div class="field">
      <p>what you share?(limit 5 topic)</p>
      <<%= form.label :topic1 %>
      <%= form.text_field :topic1 %>
      <%= form.label :topic2 %>
      <%= form.text_field :topic2 %>
      <%= form.label :topic3 %>
      <%= form.text_field :topic3 %>
      <%= form.label :topic4 %>
      <%= form.text_field :topic4 %>
      <%= form.label :topic5 %>
      <%= form.text_field :topic5 %>>
    </div>
    <div id ="preview">

    </div>
  </div>
    <%= form.submit  %>
  <% end %>
</main>