<header>
  <div class="title">
    <h1>View#show</h1>
      <% if user_signed_in? %>
    <strong><%= link_to current_user.name, users_show_path %></strong>
    <%= link_to 'プロフィール変更', edit_user_registration_path %>
    <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
    <% else %>
    <%= link_to 'サインアップ', new_user_registration_path %>
    <%= link_to 'ログイン', new_user_session_path %>
    <% end %>
  </div>
</header>
<main>
  <div class="title">
    <p>Project Name:<%= @project.projectname %></p>
    <p>show mamber</p>
  </div>
  <div id="project">
    <div id= "task_icon">

    </div>
    <div id="user_name">
      <p>name:</p>
    </div>
    <div id ="task_area">

    </div>
  </div>
</main>
