<%= form_with model: @project do |form| %>
  <div class="title">
    <div class ="field">
      <%= form.label :name %>
      <%= form.text_field :name %>
    </div>
    <div class = "button">
      <%= button_to "戻る", project_path(@project.id), method: :get %>
    </div>
  </div>
  <div class = "title">
    <div class="field">
      <%= form.label :icon %>
      <%= form.file_field :icon, type:"file", autofocus: true %>
      <%= form.hidden_field :icon_cache %>
      <%= image_tag @project.icon.url,  id: 'preview' %>
      <label>
      <%= form.check_box :remove_profile_image %>
      画像を削除する
      </label>
    </div>
    <div class="field">
      <%= form.label :note %>
      <%= form.text_area :note %>
    </div>
  </div>
  <div class="title">
    <div class="field">
      <h3>what you share?(limit 5 topic)</h3>
      <%= form.label :topic1 %>
      <%= form.text_field :topic1 %>
      <%= form.label :topic2 %>
      <%= form.text_field :topic2 %>
      <%= form.label :topic3 %>
      <%= form.text_field :topic3 %>
      <%= form.label :topic4 %>
      <%= form.text_field :topic4 %>
      <%= form.label :topic5 %>
      <%= form.text_field :topic5 %>
    </div>

  </div>
  <div class = "title">
    <%= form.submit %>
    <% end %>
</div>
<%= javascript_pack_tag "user/common.js" %>