<div class = "title">
  <h1>プロジェクト検索</h1>
</div>
<hr>
<div class = "field">
  <div class = "set">
    <%= search_form_for @q do |f| %>
      <%= f.label :name_cont %>
      <%= f.search_field :name_cont %>
      <%= f.submit %>
    <% end %>
  </div>
  <div class = "field">
    <div class = "set">
      <% @projects.each do |project| %>
        <div class ="field">
          <div class = "content">
            <h3><%= project.name %></h3>
            <%= image_tag project.icon.url %>
            <div class = "button">
              <%= button_to "参加", join_project_path(project), method: :post %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>