<div class = "title">
  <h1>プロジェクト検索</h1>
  <div class = "button">
      <%= link_to :back, method: :get do %> <i class = "material-icons">arrow_back</i> Back<% end %>
  </div>
</div>
<hr>
<div class = "col">
  <div class = "title">
    <%= search_form_for @q do |f| %>
      <%= f.label :name_cont %>
      <%= f.search_field :name_cont %>
      <%= f.submit %>
    <% end %>
  </div>
  <div class = "rowitem">
    <% @projects.each do |project| %>
      <div>
        <h3><%= project.name %></h3>
        <%= image_tag project.icon.url %>
        <%= button_to "参加", join_project_path(project), method: :post %>
      </div>
    <% end %>
  </div>
  <%= paginate @projects %>
</div>