<div class = "title">
  <h1>プロジェクト作成</h1>
  <div class = "button">
    <%= link_to "戻る", :back, method: :get %>
  </div>
</div>
<hr>
<%= form_with model: @project do |form| %>
  <div class = "rowfield">
    <div class="col">
      <div class ="rowfield">
        <%= form.label :name %>
        <%= form.text_field :name %>
      </div>
      <div class="rowfield">
        <%= form.label :note %>
        <%= form.text_area :note %>
      </div>
    </div>
    <div class="col">
      <p>what you share?(limit 5 topic)</p>
      <%= form.label :topic1 %>
      <%= form.text_field :topic1 %>
      <%= form.label :topic2 %>
      <%= form.text_field :topic2 %>
      <%= form.label :topic3 %>
      <%= form.text_field :topic3 %>
      <%= form.label :topic4 %>
      <%= form.text_field :topic4 %>
      <%= form.label :topic5 %>
      <%= form.text_field :topic5 %>
      <div class = "title">
        <%= form.submit %>
      </div>
    </div>
  </div>
<% end %>
