<div class="title">
  <div class = "field">
    <%= image_tag @project.icon.url %>
    <h2>Project Name:<%= @project.name %></h2>
  </div>
  <div class = "button">
    <% if @host_member %>
      <%= link_to "編集する", edit_project_path, method: :get %>
    <% else %>
      <%= link_to "脱退する", project_members(@project, current_user), method: :destroy %>
    <% end %>
    <%= link_to "投稿する", new_post_path(project_id: @project), method: :get %>
  </div>
</div>
<hr>
<div class="field">
  <div class = "side">
    <div class = "scroll">
      <h3>管理者</h3>
      <% @host_member.each do |host| %>
        <%= host.name %>
      <% end %>
      <h3>メンバー</h3>
      <% @not_host_member.each do |member|%>
        <%= member.name %>
      <% end %>
    </div>
  </div>
  <div class = "side">
    <div class = "card">
      <div>name</div>
      <div><%= @project.topic1 %></div>
      <% if @project.topic2.present? %>
        <div><%= @project.topic2 %></div>
      <% end %>
      <% if @project.topic3.present? %>
        <div><%= @project.topic3 %></div>
      <% end %>
      <% if @project.topic4.present? %>
        <div><%= @project.topic4 %></div>
      <% end %>
      <% if @project.topic5.present? %>
        <div><%= @project.topic5 %></div>
      <% end %>
    </div>
    <div class = "title">投稿</div>
    <% @posts.each do |post| %>
      <div class = "side">
        <div><%= post.user.name %></div>
          <div class = "card">
            <div><%= post.post1 %></div>
          <% if @project.topic2.present? %>
              <div><%= post.post2 %></div>
          <% end %>
          <% if @project.topic3.present? %>
              <div><%= post.post3 %></div>
          <% end %>
          <% if @project.topic4.present? %>
              <div><%= post.post4 %></div>
          <% end %>
          <% if @project.topic5.present? %>
              <div><%= post.post5 %></div>
          <% end %>
        </div>
      </div>
    <% end %>
    <div class = "paginate">
      <%= paginate(@posts) %>
    </div>
  </div>
</div>