<div class="title">
  <div class = "set">
    <%= image_tag @project.icon.url %>
    <h2>Project Name:<%= @project.name %></h2>
  </div>
  <div class = "button">
    <% if @host_member %>
      <%= button_to "編集する", edit_project_path, method: :get %>
    <% end %>
    <%= button_to "投稿する", new_post_path, { method: :get, params: { project_id: @project }} %>
  </div>
</div>
<div class="item">
  <div class = "field">
    <div class = "field">
      <h2>投稿</h2>
    </div>
    <table>
      <th>name</th>
      <th><%= @project.topic1 %></th>
        <% if @project.topic2.present? %>
      <th><%= @project.topic2 %></th>
      <% end %>
      <% if @project.topic3.present? %>
        <th><%= @project.topic3 %></th>
      <% end %>
      <% if @project.topic4.present? %>
        <th><%= @project.topic4 %></th>
      <% end %>
      <% if @project.topic5.present? %>
        <th><%= @project.topic5 %></th>
      <% end %>
      <% @posts.each do |post| %>
        <tr>
          <td><%= post.user.name %></td>
          <td><%= post.post1 %></td>
        <% if @project.topic2.present? %>
            <td><%= post.post2 %></td>
        <% end %>
        <% if @project.topic3.present? %>
            <td><%= post.post3 %></td>
        <% end %>
        <% if @project.topic4.present? %>
            <td><%= post.post4 %></td>
        <% end %>
        <% if @project.topic5.present? %>
            <td><%= post.post5 %></td>
          <% end %>
        </tr>
      <% end %>
    </table>
  </div>
  <div class = "side">
    <div class = "scroll">
      <h3>管理者</h3>
      <% @host_member.each do |host| %>
        <%= host.name %>
      <% end %>
      <h3>メンバー</h3>
      <% @not_host_member.each do |member|%>
        <%= member.name %>
      <% end %>
    </div>
  </div>
</div>