<div class="title">
  <h2>Project Name:<%= @project.name %></h2>
  <div class = "button">
    <% if @host_member %>
      <%= button_to "編集する", edit_project_path, method: :get %>
    <% end %>
    <%= button_to "投稿する", new_post_path(project_id: @project.id), method: :get %>
  </div>
</div>
<div class="item">
  <div class = "field">
    <div class = "title">
      <h2>投稿</h2>
    </div>
    <div class = "post">
      <% @posts.each do |post| %>
        <%= post.user %>
        <div class = "title">
          <%= post.topic1 %>
          <%= post.topic2 %>
          <%= post.topic3 %>
          <%= post.topic4 %>
          <%= post.topic5 %>
        </div>
      <% end %>
    </div>
  </div>
  <div class = "side">
    <div class = "scroll">
      <h3>管理者</h3>
      <% @host_member.each do |host| %>
        <%= host.name %>
      <% end %>
      <h3>メンバー</h3>
      <% @not_host_member.each do |member|%>
        <%= member.name %>
      <% end %>
    </div>
  </div>
</div>