<div class="title">
  <h2>Project Name:<%= @project.name %></h2>
</div>
<div class="item">
  <div class = "field">
    <div class = "title">
      <h2>投稿</h2>
      <div class = "container">
        <!-- Previous link sticks to the left -->
        <a>＜</a>
        <!-- Next link sticks to the right -->
        <a>＞</a>
      </div>
    </div>
    <div class = "field">
      <% @posts.find_each(:batch_size => 10) do |post| %>
        <%= post.user %>
        <div class = "title">
          <%= post.topic1 %>
          <%= post.topic2 %>
          <%= post.topic3 %>
          <%= post.topic4 %>
          <%= post.topic5 %>
        </div>
      <% end %>
    </div>
  </div>
  <div class = "side">
    <h3>管理者</h3>
    <% @host_member.each do |host| %>
      <%= host.name %>
    <% end %>
    <h3>メンバー</h3>
    <% @not_host_member.each do |member|%>
      <%= member.name %>
    <% end %>
  </div>
</div>