<div class="title">
  <div class = "row">
    <%= image_tag @project.icon.url %>
    <h2>Project Name:<%= @project.name %></h2>
  </div>
  <div class = "button">
    <% if current_user = @host_member %>
      <%= link_to "編集する", edit_project_path, method: :get %>
    <% else %>
      <%= link_to "脱退する", leave_project_path(@project), method: :delete %>
    <% end %>
    <%= link_to "投稿する", new_post_path(project_id: @project), method: :get %>
  </div>
</div>
<hr>
<div class="colfield">
  <div class = "col">
    <div class = "scroll">
      <h3>管理者</h3>
      <% @host_member.each do |host| %>
        <p><%= host.name %></p>
      <% end %>
      <h3>メンバー</h3>
      <% @not_host_member.each do |member|%>
        <p><%= member.name %></p>
      <% end %>
    </div>
  </div>
  <div class = "wi col">
    <h3>投稿</h3>
    <div class = "row">
      <div><%= @project.topic1 %></div>
      <% if @project.topic2.present? %>
        <div><%= @project.topic2 %></div>
      <% end %>
      <% if @project.topic3.present? %>
        <div><%= @project.topic3 %></div>
      <% end %>
      <% if @project.topic4.present? %>
        <div><%= @project.topic4 %></div>
      <% end %>
      <% if @project.topic5.present? %>
        <div><%= @project.topic5 %></div>
      <% end %>
    </div>
    <div class = "col">
      <% @posts.each do |post| %>
        <div class = "colitem">
          <div><%= post.user.name %></div>
          <div class = "row">
            <div><%= post.post1 %></div>
            <% if @project.topic2.present? %>
                <div><%= post.post2 %></div>
            <% end %>
            <% if @project.topic3.present? %>
                <div><%= post.post3 %></div>
            <% end %>
            <% if @project.topic4.present? %>
                <div><%= post.post4 %></div>
            <% end %>
            <% if @project.topic5.present? %>
                <div><%= post.post5 %></div>
            <% end %>
          </div>
        </div>
      <% end %>
      <%= paginate @posts %>
    </div>
  </div>
</div>