<div class = "title">
  <h1>ログイン</h1>
</div>
<hr>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="col">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
    <div class="rowfield">
      <%= f.label :password %>
      <%= link_to "パスワードを忘れた場合", new_user_password_path %>
    </div>
    <div class="col">
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>
  </div>
  <div class = "col">
    <div id = "check">
      <% if devise_mapping.rememberable? %>
        <%= f.check_box :remember_me %>
        <%= f.label :remember_me %>
      <% end %>
    </div>
  </div>
  <div class ="actions">
    <%= f.submit "ログイン" %>
  </div>
<% end %>
