<div class = "title">
  <h1>ログイン</h1>
</div>
<hr>
<%= form_for(resource, as: resource_name, url: session_path(resource_name)) do |f| %>
  <%= render "devise/shared/error_messages", resource: resource %>

  <div class="field">
    <%= f.label :email %>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>
  <div class="field">
    <div class="item">
      <%= f.label :password %>
      <%= link_to "パスワードを忘れた場合", new_user_password_path %>
    </div>
    <div class="item">
      <%= f.password_field :password, autocomplete: "current-password" %>
    </div>
  </div>
  <div id="check">
    <% if devise_mapping.rememberable? %>
      <%= f.check_box :remember_me %>
      <%= f.label :remember_me %>
    <% end %>
  </div>
  <div class="field">
    <div class="button">
      <%= f.submit "Log in", class: "button_to" %>
    </div>
  </div>
<% end %>
