<%= form_with model: @post do |form| %>
  <div class="title">
    <h2><%= @project.name %>に投稿することを記入してください</h2>
  </div>
  <div class="field">
    <h3>what you want to share?</h3>
    <h3><%= @project.topic1 %></h3>
    <%= form.text_field :topic1 %>
    <% if @project.topic2.present? %>
      <h3><%= @project.topic2 %></h3>
        <%= form.text_field :topic2 %>
    <% end %>
    <% if @project.topic3.present? %>
      <h3> <%= @project.topic3 %></h3>
      <%= form.text_field :topic3 %>
    <% end %>
    <% if @project.topic4.present? %>
      <h3> <%= @project.topic4 %></h3>
      <%= form.text_field :topic4 %>
    <% end %>
    <% if @project.topic5.present? %>
      <h3><%= @project.topic5 %></h3>
      <%= form.text_field :topic5 %>
    <% end %>
  </div>
  <div id ="preview">

  </div>
  <%= form.submit %>
  <% end %>