<div class="title">
  <h2><%= @project.name %>に投稿することを記入してください</h2>
  <div class = "button">
    <%= link_to :back, method: :get do %> <i class = "material-icons">arrow_back</i>back <% end %>
  </div>
</div>
<hr>
<%= form_with model: @post do |form| %>
  <div class="col">
    <%= @project.topic1 %>
    <%= form.text_field :post1 %>
    <% if @project.topic2.present? %>
      <%= @project.topic2 %>
      <%= form.text_field :post2 %>
    <% end %>
    <% if @project.topic3.present? %>
      <%= @project.topic3 %>
      <%= form.text_field :post3 %>
    <% end %>
    <% if @project.topic4.present? %>
      <%= @project.topic4 %>
      <%= form.text_field :post4 %>
    <% end %>
    <% if @project.topic5.present? %>
      <%= @project.topic5 %>
      <%= form.text_field :post5 %>
    <% end %>
  </div>
  <%= form.hidden_field :project_id, value: @project.id %>
  <%= form.submit %>
<% end %>