<header>
  <div class="title">
    <h1>Mypage#show</h1>
    <nav>
      <strong><%= link_to current_user.name, mypage_show_path %></strong>
      <%= link_to 'ログアウト', destroy_user_session_path, method: :delete %>
    </nav>
  </div>
</header>
<main>
  <div class = "title">
    <p>Your Profile</p>
  </div>
  <div id = "profile">
    <div id = "usericon">
      <img src = "" alt = "your icon">
    </div>
    <ul>
      <li>name:<%= @user.name %></li>
      <li>e-mail:<%= @user.email %></li>
    </ul>
  </div>
  <div class = "title">
  <p>Your Projects</p>
  <%=  button_to "new project", {controller: 'manage', action:'show'} , method: :get %>
  </div>
  <div id= "showproject">
  </div>
</main>
