<!DOCTYPE html>
<html>
  <head>
    <title>TaskShareApp</title>
    <meta charset="UTF-8">
    <meta name="description" content="task share app">
    <meta name="keywords" content="task, share, easy, simple">
    <meta name="author" content="Raisa">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Kiwi+Maru:wght@300&display=swap" rel="stylesheet">
  </head>
  <body>
    <%= render :header %>
  <main>
    <%= yield %>
    <div class="notifications">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
  </main>
  <%= render :footer %>
  </body>
</html>
