<!DOCTYPE html>
<html>
  <head>
    <title>TaskShareApp</title>
    <meta charset="UTF-8">
    <meta name="description" content="task share app">
    <meta name="keywords" content="task, share, easy, simple">
    <meta name="author" content="Raisa">
    <meta name="viewport" content="width=device-width,initial-scale=1.0,minimum-scale=1.0">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Kiwi+Maru:wght@300&display=swap" rel="stylesheet">
  </head>
  <body>
    <header>
      <% if user_signed_in? %> <!-- ユーザーがログインしているか調べる -->
        <!-- ユーザーがログインしていた時の処理 -->
        <h1> Hello! <%= current_user.name %> </h1>
        <div class = "button">
        <% unless current_page?(root_path) %>
          <%= link_to current_user, method: :get do %><i class="material-icons">home</i>Home<% end %>
        <% end %>
          <%= link_to destroy_user_session_path, method: :delete do %><i class = "material-icons">logout</i>Logout<% end %> <!-- ログアウトをする -->
        </div>
        <% else %>
          <!-- ユーザーがログインしていなかった時の処理 -->
        <h1> TaskShareApp </h1>
        <div class="button">
          <%= link_to new_user_session_path, method: :get do %><i class = "material-icons">login</i>Login<% end %> <!-- ログイン画面に移行する -->
          <%= link_to new_user_registration_path, method: :get do %> <i class = "material-icons">person_add</i>New <% end %> <!-- 新規登録画面に移行する -->
        </div>
      <% end %>
  </header>
  <main>
    <%= yield %>
    <div class="notifications">
      <p class="notice"><%= notice %></p>
      <p class="alert"><%= alert %></p>
    </div>
  </main>
    <footer>
      <h3>©Raisa</h3>
    </footer>
  </body>
</html>
